@media screen and (max-width:800px) {
  .add-bookmark-card {
    mat-card-content {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (min-width:800px) {
  .add-bookmark-card {
    margin: 1.5em 1em;
  }
}
