mat-toolbar {
  .button {
    margin: 0 3px;
    line-height: 30px;
  }

  span.toolbar-fill {
    flex: 1 1 auto;
  }
}

mat-card {
  margin: 1em 1em 0.8em 1em;

  mat-card-content {
    width: 100%;

    mat-form-field {
      width: 100%;
      position: relative;

      input {
        width: 100%;
        min-height: 30px;
        text-align: left;
        font-size: 1.2em;
      }
    }

    table {
      width: 100%;

      th {
        font-size: 1.2em;
        color: rgb(78, 78, 78);
      }

      a.link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-decoration: none;

        mat-icon {
          font-size: 18px;
          width: 18px;
          height: 18px;
          margin-right: 10px;
        }
      }
    }
  }
}
