mat-toolbar {
  .button {
    margin: 0 3px;
    line-height: 30px;
  }

  span.toolbar-fill {
    flex: 1 1 auto;
  }
}

mat-card {
  width: 90%;
  margin: 1em auto 0 auto;

  mat-card-content {
    width: 100%;

    mat-form-field {
      width: 100%;
      position: relative;

      input {
        width: 100%;
        min-height: 30px;
        text-align: left;
        font-size: 1.2em;
      }
    }

    table {
      width: 100%;

      th {
        font-size: 1.2em;
        color: rgb(78, 78, 78);
      }

      a.link mat-icon {
        float: right;
        font-size: 18px;
        width: 18px;
        height: 18px;
        margin-right: 10px;
      }
    }
  }
}
