    <mat-toolbar color="secondary">

        <span>Bookmark Details</span>
        <span class="toolbar-fill"></span>
        <span>
            <button mat-icon-button >
                <mat-icon>add</mat-icon>
            </button>
        </span>
        <span>
            <button mat-icon-button >
                <mat-icon>edit</mat-icon>
            </button>
        </span>
        <span>
            <button mat-icon-button >
                <mat-icon>delete</mat-icon>
            </button>
        </span>
        
    </mat-toolbar>

    <mat-card>
        <mat-card-content>

            <table mat-table [dataSource]="bookmarksDataSource" matSort matSortActive="created" matSortDisableClear matSortDirection="asc" class="mat-elevation-z3">

                <ng-container matColumnDef="select">

                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox 
                            (change)="$event ? masterToggle() : null" 
                            [checked]="selection.hasValue() && isAllSelected()" 
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>

                    <td matRipple mat-cell *matCellDef="let row">
                        <mat-checkbox 
                            (click)="$event.stopPropagation()" 
                            (change)="$event ? selection.toggle(row) : null" 
                            [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>

                </ng-container>



                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>
                        Name.
                    </th>
                    <td matRipple mat-cell *matCellDef="let row">
                        {{ row.title }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="href">
                    <th mat-header-cell *matHeaderCellDef>
                        Link.
                    </th>
                    <td matRipple mat-cell *matCellDef="let row">
                        <a href="{{ row.href }}">{{ row.href }}</a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>
                        Description.
                    </th>
                    <td matRipple mat-cell *matCellDef="let row">
                        {{ row.description }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef>
                        Category.
                    </th>
                    <td matRipple mat-cell *matCellDef="let row" >
                        <span *ngFor="let category of categoryDataSource">
                            <span *ngIf="category._id == row.category">
                                {{ category.name }}
                            </span>
                        </span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>

            </table>

        </mat-card-content>
    </mat-card>
