<div class="app-container">
    <mat-toolbar color="primary">

        <span>
            <button mat-icon-button (click)="BookmarkCategories.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </span>

        <span class="toolbar-fill"></span>

        <span>
            Nest Bookmark Manager
        </span>
        
        <span class="toolbar-fill"></span>

    </mat-toolbar>

    <mat-sidenav-container class="nest-container">


        <mat-sidenav #BookmarkCategories>

            <mat-toolbar color="secondary">

                <span>Categories</span>

            </mat-toolbar>

        </mat-sidenav>

        <mat-sidenav-content>

            <router-outlet>

            </router-outlet>

        </mat-sidenav-content>

    </mat-sidenav-container>
</div>