@use "@angular/material" as mat;

@include mat.core();

$app-primary: mat.define-palette(mat.$orange-palette, A400);
$app-accent: mat.define-palette(mat.$grey-palette, 300);
$app-warn: mat.define-palette(mat.$red-palette, 500);

$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.core-theme($app-theme);

html,
body,
app-root {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
