@use "@angular/material" as mat;

@include mat.core();

$app-primary: mat.define-palette(mat.$orange-palette, A400);
$app-accent: mat.define-palette(mat.$grey-palette, 300);
$app-warn: mat.define-palette(mat.$red-palette, 500);

$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

html {
  height: 100vh;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body,
#root {
  min-height: 100%;
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  margin: 0;
  background-color: #e0e0e0;
}

@include mat.all-component-themes($app-theme);
